/* útfæra */

:root {
    /* COLOURS */

    --white: #eeeeee;
    --teal: #00adb5;
    --gray: #393e46;
    --black: #222831;

    --teal-hover: #85d0d4;
    --gray-hover: #6f7682;

    --green: #45b745;
    --red: #db3b3b;

    /* SETTINGS */

    --radius: 12px;
}

@font-face {
    font-family: "Dosis";
    src: url(../Dosis-VariableFont_wght.ttf) format(woff2);
}

body {
    background-color: var(--white);
    margin: 0;
    padding: 24px;
    font-family: "Dosis";
    max-width: 1000px;
    margin: auto;
}

.categories {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: auto;
    margin-top: 10vh;
}

@media (min-width: 500px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .categories {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    background-color: var(--teal);
    border-radius: var(--radius);

    display: grid;
    width: auto;
    margin: 5px;

    transition: background-color 0.1s ease-out;
}

.card:hover {
    background-color: var(--teal-hover);
}

.card a {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 5px;

    width: 100%;
    height: 100%;
    transition: color 0.1s ease-out;
}

.card a:hover {
    color: var(--gray);
}

.title {
    margin: auto;
    margin-top: 10vh;
    color: var(--gray);
    width: 100%;
    text-align: center;
}

h1 {
    font-size: clamp(1rem, 9vw, 4rem);
    font-weight: 730;
}

.title a {
    color: var(--white);
    background-color: var(--gray);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: var(--radius);

    transition: background-color 0.1s ease-out;
}

.title a:hover {
    background-color: var(--gray-hover);
}

.questions {
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
}

button {
    cursor: pointer;
}

.question {
    background-color: var(--teal);
    color: var(--white);

    border-radius: var(--radius);
    padding: 5px;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.1s ease-out;
}

.question p {
    opacity: 0;
    padding: 0px 10px;
    transition: opacity 0.1s ease-out;
    display: flex;
    text-align: center;
    margin: auto;
    min-height: 30px;
}

.question h3 {
    padding: 0px 10px;
}

.questionButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

.questionButtons button {
    width: 75px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-family: "Dosis";
    opacity: 0;
    display: none;
    transition: opacity 0.1s ease-out;
}

.clickedCard {
    background-color: var(--gray);
}

.correctCard {
    background-color: var(--green);
}

.wrongCard {
    background-color: var(--red);
}

.clickedCard p {
    opacity: 1;
}

.correct {
    background-color: var(--green);
}

.wrong {
    background-color: var(--red);
}

.questionButtons .showButton {
    display: inline;
    opacity: 1;
}

.questionButtons .hideButton {
    display: none;
    opacity: 0;
}


.subButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-evenly;
}

.subButton {
    flex: auto;

    font-size: 15px;
    font-weight: 450;
    border: none;

    background-color: var(--gray);
    color: var(--white);
    border-radius: var(--radius);
    margin: 3px;
    padding: 5px 10px;
    text-decoration: none;

    transition: all 0.1s ease-out;
}

.subButton:hover {
    text-decoration: underline;
    background-color: var(--teal);
    color: white;
}

.buttonClicked {
    background-color: var(--white);
    color: var(--black);
}


/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(to right, var(--green) 50%, var(--red) 50%);
    border-radius: 50px;
    position: sticky;
    top: 50px;
    margin: auto;
    transition: background 1s ease-in-out;
    max-width: 500px;
}

header h3 {
    font-size: 30px;
    margin: 0;
    color: var(--white);
    padding: 6px 18px;


}